<div id="fh5co-contact">

    <div class="col-auto p-5 text-center">
        <h3>Socursales</h3>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-1 animate-box">

            </div>
            <div class="col-md-12 animate-box">

                <div class="row form-group">
                    <div class="col-md-6">
                        <!-- <label for="fname">First Name</label> -->
                        <input type="text" #name class="form-control" placeholder="Nombre de Socursales">
                    </div>
                    <div class="col-md-6">
                        <!-- <label for="lname">Last Name</label> -->
                        <input type="text" #address class="form-control" placeholder="Direccion">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <!-- <label for="email">Email</label> -->
                        <input type="number" #precio class="form-control" placeholder="Telefono">
                    </div>

                    <select multiple>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                        <option value="5">Five</option>
                        <option value="6">Six</option>
                        <option value="7">Seven</option>
                        <option value="8">Eight</option>
                      </select>

                </div>

                <div class="form-group">
                    <button class="btn btn-primary">Guardar</button>
                </div>

            </div>
        </div>

    </div>
</div>