<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">SKU</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.Name}}</td>
                <td>{{item.SKU}}</td>
                <td>
                    <a href="#" class="btn red z-depth-3">Eliminar</a>
                </td>
                <td>
                    <a href="/editproduct/{{item.Id}}" class="btn green z-depth-3">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>